<h1>Products</h1>
<ul>
  <p>Product Description <% @products.each do |f| %></p>
  <li>Name:<%= f.name %></li>
  <li>Description :  <%= f.description%></li>
  <li>Price in dollars :<%= f.formatted_price %></li>
  <li>Date Created: <%= f.created_at %></li>
  <li> Updated : <%= f.updated_at%></li>
  <li><% end %></li>
</ul>



